<div class="sw5e-qol-card" data-message-id="{{messageId}}" data-card-type="{{cardType}}" data-user-id="{{userId}}" data-theme="{{theme}}">
    <div class="card-border" style="border: 2px solid {{userColor}};">
        <div class="card-title">
            <div class="card-title-content">
                <div class="actor-image-group">
                    <img src="{{actorImg}}" alt="{{actorName}}" class="user-avatar" />
                </div>
                <div class="actor-info-group">
                    <div class="actor-name">{{actorName}}</div>
                    <div class="user-name">{{userName}}</div>
                </div>
            </div>
        </div>
        
        <div class="card-body" id="card-body">
            <!-- Components will be dynamically inserted here -->
        </div>
        
        <div class="card-footer" id="card-footer">
            <!-- Footer components will be inserted here -->
        </div>
    </div>
</div>