<div class="sw5e-qol-card" data-message-id="{{messageId}}" data-card-type="{{cardType}}" data-user-id="{{userId}}">
    <div class="card-border" style="--border-color: {{userColor}}; border-left-color: {{userColor}};">
        <div class="card-header">
            <div class="card-title">
                <h3>{{title}}</h3>
                <span class="card-timestamp">{{timestamp}}</span>
            </div>
            <div class="card-user">
                <img src="{{userAvatar}}" alt="{{userName}}" class="user-avatar" />
                <span class="user-name">{{userName}}</span>
            </div>
        </div>
        
        <div class="card-body" id="card-body">
            <!-- Components will be dynamically inserted here -->
        </div>
        
        <div class="card-footer" id="card-footer">
            <!-- Footer components will be inserted here -->
        </div>
    </div>
</div>
