<div class="modifiers-table-section">
    <table class="modifiers-table">
        <thead>
            <tr>
                <th>{{localize "SW5E-QOL.interface.modifier"}}</th>
                <th>{{localize "SW5E-QOL.interface.type"}}</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody id="modifiers-tbody">
            <tr class="modifier-row attribute-row">
                <td>
                    <label class="attribute-label">{{localize "SW5E-QOL.interface.attribute"}}:</label>
                    <select class="attribute-select" id="attribute-select">
                        <option value="strength">{{localize "SW5E.attributes.str"}}</option>
                        <option value="dexterity" selected>{{localize "SW5E.attributes.dex"}}</option>
                        <option value="constitution">{{localize "SW5E.attributes.con"}}</option>
                        <option value="intelligence">{{localize "SW5E.attributes.int"}}</option>
                        <option value="wisdom">{{localize "SW5E.attributes.wis"}}</option>
                        <option value="charisma">{{localize "SW5E.attributes.cha"}}</option>
                    </select>
                </td>
                <td>{{localize "SW5E.attribute"}}</td>
                <td>{{modifier}}</td>
                <td>
                    <div class="toggle-switch">
                        <input type="checkbox" class="modifier-toggle" checked data-modifier-id="attribute">
                        <span class="toggle-slider"></span>
                    </div>
                </td>
            </tr>
            {{#each modifiers}}
            <tr data-modifier-id="{{@index}}" class="modifier-row">
                <td>{{name}}</td>
                <td>{{type}}</td>
                <td>{{modifier}}</td>
                <td>
                    <div class="toggle-switch">
                        <input type="checkbox" class="modifier-toggle" {{#if isEnabled}}checked{{/if}} data-modifier-id="{{@index}}">
                        <span class="toggle-slider"></span>
                    </div>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
