<div class="modifiers-table-section">
    <table class="modifiers-table">
        <thead>
            <tr>
                <th>{{localize "SW5E-QOL.interface.modifier"}}</th>
                <th>{{localize "SW5E-QOL.interface.type"}}</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody id="modifiers-tbody">
            <tr class="modifier-row attribute-row">
                <td>
                    <label class="attribute-label">{{localize "SW5E-QOL.interface.attribute"}}:</label>
                    <select class="attribute-select" id="attribute-select">
                        <option value="str">{{localize "SW5E-QOL.attributes.str"}}</option>
                        <option value="dex" selected>{{localize "SW5E-QOL.attributes.dex"}}</option>
                        <option value="con">{{localize "SW5E-QOL.attributes.con"}}</option>
                        <option value="int">{{localize "SW5E-QOL.attributes.int"}}</option>
                        <option value="wis">{{localize "SW5E-QOL.attributes.wis"}}</option>
                        <option value="cha">{{localize "SW5E-QOL.attributes.cha"}}</option>
                        <option value="none">{{localize "SW5E-QOL.attributes.none"}}</option>
                    </select>
                </td>
                <td>{{localize "SW5E-QOL.attribute"}}</td>
                <td>{{modifier}}</td>
                <td>
                    <div class="toggle-switch">
                        <input type="checkbox" class="modifier-toggle" checked data-modifier-id="attribute">
                        <span class="toggle-slider"></span>
                    </div>
                </td>
            </tr>
            {{#each modifiers}}
            <tr data-modifier-id="{{@index}}" class="modifier-row">
                <td>{{name}}</td>
                <td>{{type}}</td>
                <td>{{modifier}}</td>
                <td>
                    <div class="toggle-switch">
                        <input type="checkbox" class="modifier-toggle" {{#if isEnabled}}checked{{/if}} data-modifier-id="{{@index}}">
                        <span class="toggle-slider"></span>
                    </div>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
