<div class="roll-mode-section">
    <div class="roll-mode-left">
        <label for="roll-mode-select">{{localize "SW5E-QOL.interface.rollMode"}}:</label>
        <select id="roll-mode-select" class="roll-mode-select">
            <option value="public">{{localize "SW5E-QOL.interface.publicRoll"}}</option>
            <option value="private">{{localize "SW5E-QOL.interface.privateGM"}}</option>
            <option value="blind">{{localize "SW5E-QOL.interface.blindGM"}}</option>
            <option value="self">{{localize "SW5E-QOL.interface.sellRoll"}}</option>
        </select>
    </div>
    <div class="roll-mode-right">
        <label class="target-roll-label">{{localize "SW5E-QOL.interface.rollForEachTarget"}}</label>
        <div class="toggle-switch">
            <input type="checkbox" class="target-roll-toggle" id="target-roll-toggle">
            <span class="toggle-slider"></span>
        </div>
    </div>
</div>
